@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --font1: 'Roboto', sans-serif;
    --font2: 'Poppins', sans-serif;
    --cor0: #35E6E9;
    --cor1: #FF5678;
    --cor2: #000000;
    --cor3: #FFFFFF;
    --border: 1px solid rgba(0, 0, 0, 0.15);
    --border-radius: 12px;
}

/* body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;

    align-items: center;
    justify-items: center;
} */

/* body {
    max-width: 1280px;
} */

.content {
    display: grid;
    grid-template-areas:
        ". . . . ."
        ". hero . cadastro ."
        ". hero . cadastro ."
        ". . . . ."
    ;
    gap: 85px;
    font-family: var(--font1);
}


aside#logo {
    grid-area: hero;

    /* background-color: lightblue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 409px;
    gap: 50px;
}

aside h1 {
    font-weight: 600;
    font-size: 64px;
}

span {
    color: var(--cor1);
}

main#cadastro {
    grid-area: cadastro;
    width: 600px;
    height: 520px;

    /* apagar depois */
    /* background-color: rgb(233, 215, 167);  */

    border: var(--border);
    border-radius: var(--border-radius);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
}

main h2 {
    /* max-width: 430px; */
    font-size: 36px;
}

main#cadastro .button {
    width: 489px;
    height: 55px;

    font-weight: 500;
    font-size: 24px;

    background: #35E6E9;
    color: #fff;
    border: 2px solid #C0EBF4;
    border-radius: var(--border-radius);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

main#cadastro a.rosa {
    background: #FF5678;
}

div.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div a,
small {
    font-family: var(--font2);
}

div small {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

div .registrar {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration-line: underline;
    color: #000000;
}

main header {
    display: flex;
    align-items: center;
}

main header .material-symbols-outlined {
    font-size: 32px;
}

main form label {
    font-size: 18px;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 10px;
    display: block;
}

main form :is(input, select) {
    width: 489px;
    height: 55px;
    display: block;

    border: var(--border);
    border-radius: var(--border-radius);
}

main form select {
    appearance: none;
}

main form .select-div {
    position: relative;
}

main form .select-div::after {
    position: absolute;
    top: 45px;
    right: 39px;

    content: '\e5cf';
    color: var(--cor0);
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    font-weight: 600;

}

main form .points {
    position: relative;
}

main form button {
    position: absolute;
    right: 0px;
    top: 47px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main form .points button .material-symbols-outlined {
    color: var(--cor0);
}